@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'font-name';
  src: url('/fonts/ProximaNovaFont.otf'); 
 }
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
.body{
  font-family: "Noto Sans" ;
}
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

/* Banner for pc and mobile responsive  */
.slider {
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Default height for PC */
}

.image {
  object-fit: cover;
}

@media (max-width: 768px) {
  .image-container {
    height: 69vh; /* 80% of the screen height for mobile */
  }
}


a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
.mega-menu {
  display: none; /* Initial state */
  transition: opacity 0.3s ease; /* Optional transition */
}
.group:hover .mega-menu {
  display: block; /* Show on hover */
  opacity: 1; /* Ensure it’s fully visible */
}
.font-tenor-sans {
  font-family:  "Noto Sans";
}

.hover-content {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* Prevent interaction when hidden */
}

.hover-content.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Enable interaction when visible */
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* This sets a 16:9 aspect ratio. Adjust as needed for other ratios */
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: top center; /* Adjust this to focus on the top of the image */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*font Family */
.logofont {
  font-family: 'font-name';
}


/* HeaderAlignemnet */
.logo{
  font-family: 'Tenor Sans';
}

@media (min-width: 320px) and (max-width: 340px) {
  .logo {
    margin-left: 2rem;
  }
}
@media (min-width: 341px) and (max-width: 360px) {
  .logo {
    margin-left: 4rem;
  }
}
@media (min-width: 365px) and (max-width: 400px) {
  .logo {
    margin-left: 5rem;
  }
}
@media (min-width: 401px) and (max-width: 481px) {
  .logo {
    margin-left: 6rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .logo {
    margin-left: 1.5rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width:539) and (max-width: 600px) {
  .logo{
    margin-left: 10rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    margin-left: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}


@media (min-width: 1025px) and (max-width: 1440px) {
  .logo {
    margin-left: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


@media (min-width: 1441px) and (max-width: 1920px) {
  .logo {
    margin-left: 3rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}


@media (min-width: 1921px) and (max-width: 3840px) {
  .logo {
    margin-left: 4rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


/* -------------END------------------------- */


/* Slider Alignments */


/* ------------  END ------------- */

/*------------- Collection --------------*/

.collectionheading {
  font-size: 16px;
  padding: 10px;
}
@media (min-width: 319px) and (max-width: 340px) {
  .collectionheading {
    font-size: 22px;
    padding: 8px;
  }
}
@media (min-width: 342px) and (max-width: 375px) {
  .collectionheading {
    font-size: 27px;
  }
}
@media (min-width: 342px) and (max-width: 375px) {
  .collectionheading {
    font-size: 27px;
  }
}
@media (min-width: 376px) and (max-width: 450px) {
  .collectionheading {
    font-size: 27px;
  }
}

@media (min-width:539) and (max-width: 600px) {
  .collectionheading {
    font-size: 30px;
    padding: 12px;
  }
}
@media (min-width: 640px) and (max-width:760) { /* sm */
  .collectionheading {
    font-size: 25px;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  .collectionheading {
    font-size: 30px;
    padding: 14px;
  }
}

@media (min-width: 1000px) { 
  .collectionheading {
    font-size: 30px;
    padding: 16px;
  }
}

@media (min-width: 1280px) { 
  .collectionheading {
    font-size: 28px;
    padding: 18px;
  }
}

@media (min-width: 1921px) and (max-width: 3840px) {
  .collectionheading {
    font-size: 50px;
    padding: 18px;
  }
}
/* ------------- END ----------------- */


/* ------------------- RedfineImages --------------------- */
.height-responsive{
  height: 60vh;
}
@media (min-width: 300px) and (max-width: 340) {
  .height-responsive {
      height: 32vh;
  }
}
@media (min-width:344px) and (max-width:349px){
  .height-responsive{
    height: 30vh;
  }
}
@media (min-width: 350px) and (max-width: 369px) {
  .height-responsive {
      height: 40vh;
  }
}
@media (min-width: 370px) and (max-width:425px){
  .height-responsive {
      height: 35vh;
  }
}
@media (min-width: 410px) and (max-width:412px){
  .height-responsive {
      height: 32vh;
  }
}

@media (min-width: 425px)  and (max-width: 430px){
  .height-responsive {
      height: 37vh;
  }
}
@media (min-width: 430px)  and (max-width: 538px){
  .height-responsive {
      height: 34vh;
  }
}
@media(min-width: 538px) and (max-width: 600px){
  .height-responsive{
    height: 50vh;
  }
}

@media (min-width:539) and (max-width: 600px) {
  .height-responsive {
    height: 50vh;
}
}
@media (min-width: 768px) and (max-width:900px) {
  .height-responsive {
      height: 40vh;
  }
}
@media (min-width: 1000px) and (max-width: 1440px) {
  .height-responsive {
      height: 65vh;
  }
}

@media(min-width: 1270px) and (max-width: 1300px) {
  .height-responsive {
    height: 65vh;
}
}
@media (min-width: 1400px) and  (max-width:1500) {
  .height-responsive {
      height: 70vh;
  }
}
@media (min-width: 1501px) and  (max-width:2000px) {
  .height-responsive {
      height: 60vh;
  }
}
@media (min-width: 2001px) and  (max-width:3000px) {
  .height-responsive {
      height: 40vh;
  }
}



/* ------------- Text for Image -------------------- */

@media (min-width: 320px) and (max-width: 339){
  .text-custom{
    font-size: 8px;
  }
}

@media (min-width: 341px) and (max-width: 376px) {
  .text-custom {
    font-size: 8px;
    font-weight: 600;
  }
}

@media (min-width: 377px) and (max-width: 425px) {
  .text-custom {
    font-size: 8px;
  }
}


@media (min-width: 426px) and (max-width:759) {
  .text-custom {
    font-size: 10px;
  }
}

@media (min-width: 760px) and (max-width:899px) {
  .text-custom {
    font-size: 8px;
  }
}

@media  (min-width:900px) and (max-width:1270px) {
  .text-custom {
    font-size: 12px;
  }
}

@media(min-width: 1270px) and (max-width: 1400px) {
  .text-custom {
    font-size: 12px;
}
}

@media (min-width: 1400px) and (max-width:1900px) {
  .text-custom {
    font-size: 14px;

  }
}
@media (min-width: 2560px) {
  .text-custom {
    font-size: 25px;
    padding-top: 2px;
  }
 
}


.slogan-wrapper {
  display: inline-block;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}


@keyframes scroll-mobile {
  0% {
      transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
      transform: translateX(-100%); /* Move off-screen to the left */
  }
}

@media (max-width: 768px) {
  .text-center {
      width: 100%; 
      overflow: hidden; /* Ensures no overflow */
  }
  .slogan-wrapper {
      display: inline-block;
      width: fit-content; /* Adjust to text content */
      white-space: nowrap; /* Prevent line breaks */
      animation: scroll-mobile 15s linear infinite; /* Smooth scrolling */
      will-change: transform;
  }
}
@media (min-width: 768px) {
  .text-center {
      width: 100%; 
  }
  .slogan-wrapper {
      width: 90%;
      animation: scroll-mobile 15s linear infinite; 
  }
}


@keyframes scroll-mobile {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}



.descc{
  letter-spacing: 0.3rem;
  font-family: 'Times New Roman', Times, serif;
}


/* ------------- Shop --------------- */


.try {
  height: 35vh;
}

@media (min-width: 320px)  and (max-width: 369px){
  .try {
      height: 30vh;
  }
}

@media (min-width: 370px)  and (max-width: 388px){
  .try {
      height: 40vh;
  }
}
@media (min-width: 389px)  and (max-width: 424px){
  .try {
      height: 35vh;
  }
}
@media (min-width: 425px) and (max-width: 766px) {
  .try {
      height: 35vh;
  }
}
@media (min-width: 768px)  and (max-width: 999px){
  .try {
      height: 45vh;
  }
}

@media (min-width: 1000px) and (max-width: 1023px){
  .try {
      height: 50vh;
  }
}
@media (min-width: 1024px){
  .try {
      height: 50vh;
  }
}


@media (min-width: 1440px) and  (max-width:1600) {
  .try {
      height: 50vh;
  }
}



.track-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-select {
  position: relative;
}

.arrow-down {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
}

.arrow-up {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
}

.custom-select option {
  padding-right: 24px; /* Add space for the arrow */
}
