@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'font-name';
  src: url('/fonts/ProximaNovaFont.otf'); 
 }
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
.logofont { 
  font-family: 'font-name';
 }

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
.mega-menu {
  display: none; /* Initial state */
  transition: opacity 0.3s ease; /* Optional transition */
}
.group:hover .mega-menu {
  display: block; /* Show on hover */
  opacity: 1; /* Ensure it’s fully visible */
}
.font-tenor-sans {
  font-family: 'Tenor Sans', sans-serif;
}

.hover-content {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* Prevent interaction when hidden */
}

.hover-content.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Enable interaction when visible */
}

@media (max-width: 340px) {
  .text-custom {
    font-size: 14px; 
    font-weight: 100;
  }
}
@media (min-width: 341px) and (max-width: 375px) {
  .text-custom {
    font-size: 10px;
 
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .text-custom {
    font-size: 10px;

  }
}

@media (min-width: 426px) {
  .text-custom {
    font-size: 14px;
  }
}
